.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  min-height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealswishList {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  margin-top: -10rem;
  position: relative;
}

.mealswishList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.favEmpty-msg {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: #5a1a01;
}

.fav-image {
  display: flex;
  justify-content: center;
  height: 300px;
}

.actions {
  text-align: right;
  padding: 1rem 0;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 500px) {
  .fav-image {
    height: 200px;
  }
}
