.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  font-size: 12px;
  background: rgb(74, 74, 245);
  border-radius: 12px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -15px;
  margin-top: -13px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .phone {
    display: none;
  }
  .badge {
    margin-left: 1px;
    margin-top: -25px;
  }
  .icon {
    width: 0rem;
    margin-right: 1rem;
    margin-top: -8px;
  }
  .button {
    padding: 0%;
    border-radius: 0%;
    background-color: #8a2b06;
  }
}
