.orderpage {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  margin-top: -10rem;
  position: relative;
}

.order-items {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 10rem;
  overflow: auto;
}

.order-image {
  display: flex;
  justify-content: center;
  height: 300px;
}

.actions {
  text-align: right;
  padding: 1rem 0;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.orderEmpty-msg {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: #5a1a01;
}

@media only screen and (max-width: 500px) {
  .order-image {
    height: 200px;
    padding-bottom: 20px;
  }
  .orderEmpty-msg {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12pt;
  }
  .actions {
    font-size: 10pt;
  }
}
